*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(128, 125, 125);
    font-family: Poppins, sans-serif;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 12px 12px ;
    width: 100%;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}
.social-text{
  padding: .7erm 0 ;
  font-size: 1rem;
}
.social-media{
  display: flex;
  justify-content: center;
}
.social-icon{
  height: 46px ;
  width: 46px ;
  border: 1px solid #333;
  margin:0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  border-radius: 50%;
  transition: 0.3s;
}
.social-icon:hover{
  color: #4481eb;
  border-color:#4481eb ;
}
